<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyPlot </title>
    <link rel="icon" type="image/png" href="../assets/imagenes/logopng.png"> <!-- Icono de la pestaña -->
    <!-- Enlace a la hoja de estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a la hoja de estilos personalizada -->
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body class="body-bg">
    <!--Capa de sombra para mejorar el contraste del contenido-->
    <div class="overlay"></div>

    <!-- Contenedor consolidado -->
    <div class="ver container justify-content-center align-items-center" style="height: 100vh;"
        id="formulario-consolidado">
        <div class="content-container">
            <div class="row">
                <h2 class="mb-3 text-center">Cargar Archivos Excel</h2>
                <div class="col-md-6 p-5 pt-1 border-end">
                    
                    <!-- FORMULARIO 1 -->
                    <form id="formulario1">
                        <!-- Campo de entrada para el nombre de la encuesta -->
                        <div class="mb-3">
                            <label for="nombreEncuesta" class="form-label">Nombre de la Encuesta</label>
                            <input type="text" class="form-control" id="nombreEncuesta"
                                placeholder="C31 - Estudiantes c. deportes" required>
                            
                        </div>

                        <!-- Campo de entrada para subir el archivo Excel -->
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">Selecciona un archivo Excel</label>
                            <input class="form-control" type="file" id="fileInput1" accept=".xls,.xlsx">
                        </div>

                        <!-- Inputs para definir el rango de iteración -->
                        <div class="mb-3">
                            <label for="columnaInicio" class="form-label">Columna primera pregunta (Ej: A, B,
                                C...)</label>
                            <input type="text" class="form-control text-uppercase" id="columnaInicio1" maxlength="1"
                                placeholder="Ej: E" required>
                        </div>

                        <div class="mb-3">
                            <label for="columnaFin" class="form-label">Columna ultima pregunta (Ej: D, E, F...)</label>
                            <input type="text" class="form-control text-uppercase" id="columnaFin1" maxlength="1"
                                placeholder="Ej: M" required>
                        </div>

                        <div class="mb-3">
                            <label for="filaInicio" class="form-label">Fila donde inician las respuestas</label>
                            <input type="number" class="form-control" id="filaInicio1" min="1" placeholder="Ej: 2"
                                required>
                        </div>

                        <div class="">
                            <label for="filaFin" class="form-label">Fila donde terminan las respuestas</label>
                            <input type="number" class="form-control" id="filaFin1" min="1" placeholder="Ej: 42"
                                required>
                        </div>
                    </form>
                </div>


                <div class="col-md-6 p-5 pt-1 border-start">
                    <!--FORMULARIO 2-->
                    <form id="formulario2">
                        <!-- Campo de entrada para el nombre de la encuesta -->
                        <div class="mb-3">
                            <label for="nombreEncuesta" class="form-label">Nombre de la Encuesta</label>
                            <input type="text" class="form-control" id="nombreEncuesta"
                                placeholder="C31 - docentes c. deportes" required>
                           
                        </div>

                        <!-- Campo de entrada para subir el archivo Excel -->
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">Selecciona un archivo Excel</label>
                            <input class="form-control" type="file" id="fileInput2" accept=".xls,.xlsx">
                        </div>

                        <!-- Inputs para definir el rango de iteración -->
                        <div class="mb-3">
                            <label for="columnaInicio" class="form-label">Columna primera pregunta (Ej: A, B,
                                C...)</label>
                            <input type="text" class="form-control text-uppercase" id="columnaInicio2" maxlength="1"
                                placeholder="Ej: E" required>
                        </div>

                        <div class="mb-3">
                            <label for="columnaFin" class="form-label">Columna ultima pregunta (Ej: D, E, F...)</label>
                            <input type="text" class="form-control text-uppercase" id="columnaFin2" maxlength="1"
                                placeholder="Ej: M" required>
                        </div>

                        <div class="mb-3">
                            <label for="filaInicio" class="form-label">Fila donde inician las respuestas</label>
                            <input type="number" class="form-control" id="filaInicio2" min="1" placeholder="Ej: 2"
                                required>
                        </div>

                        <div class="">
                            <label for="filaFin" class="form-label">Fila donde terminan las respuestas</label>
                            <input type="number" class="form-control" id="filaFin2" min="1" placeholder="Ej: 42"
                                required>
                        </div>


                    </form>
                </div>


            </div>

            <div class="row">
                <div class="col-12 p-3">
                    <button type="button" class="btn btn-primary w-100" id="btnGenerarG" style="font-weight: bold;">Generar
                        graficas</button>
                </div>
                <div class="col-12">
                    <button class="btn btn-success w-100" onclick="regresarMenu()"
                        style="font-weight: bold;">Menu</button>
                </div>
            </div>




        </div>
    </div>

    <script src="../assets/js/consolidado.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>

    <!--  pdf  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</body>

</html>